<div>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="100" class="mat-elevation-z ">
            <div>
                <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
                    proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false"
                    [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
                    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index"
                        [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
                </mat-carousel>
            </div>
            <h1 class="mt-4 text-center h1 ">Our <span style="color: brown;">Product</span></h1>
            <div fxLayout="row wrap">
                <div fxFlex="50" fxFlex.gt-sm="20" *ngFor="let row of products">
                    <mat-card class="m-2 mat-elevation-z8">
                        <mat-card-header>
                            <mat-card-title>Monoblock</mat-card-title>
                        </mat-card-header>

                        <img mat-card-image src="{{row.image}}" alt="Monoblock">

                        <mat-card-actions>
                            <!-- <button mat-raised-button color="primary">Enquiry</button> -->
                            <button mat-stroked-button color="primary" (click)="moreDetails(row)">More Details</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <div fxFlex="100" class="mt-4 bg-white">
            <div fxFlexOffset="5" fxFlex="90" fxFlexOffset.gt-sm="15" fxFlex.gt-sm="70">
                <div fxLayout="row wrap" class="my-4">
                    <div fxFlex="100" fxFlex.gt-sm="60" class="pr-4">
                        <h2 class="text-center h1">Why <span style="color: brown;">Us</span></h2>
                        <p style="line-height:30px">

                            Gs Nirmal dhara the paramount Indian manufacturer of Pumps, Gs Nirmal Dhara has developed
                            and marketed a wide range of products for various applications. Today the product lines
                            include Monoblock, Submersible Pumps.

                            Today Gs Nirmal dhara Pumps provide the dependable source of pumping energy, once used they
                            never fail to get commendation for their superb performance and quality from our users.

                            Submersible pumps are found in many applications:

                            Single stage pumps are used for borewell pump.

                            Multiple stage submersible pumps are typically lowered down a borehole and most typically
                            used for residential, commercial, industrial water extraction (abstraction), municipal, oil
                            wells and in water wells

                            Other uses for submersible pumps include sewage treatment plants, seawater handling, fire
                            fighting (since it has flame retardant cable), water well and deep well drilling, offshore
                            drilling rigs, artificial lifts, mine dewatering, and irrigation systems.

                            Pumps in electrical hazardous locations used for combustible liquids or for water that may
                            be contaminated with combustible liquids must be designed not to ignite the liquid or
                            vapours.
                        </p>
                    </div>
                    <div class="mat-elevation-z" fxFlex="100" fxFlex.gt-sm="40" style=" margin: auto;">
                        <img style="margin:auto" class="mat-elevation-z8" src="/assets/image/submersible-pump.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>