<div class="mat-elevation-z8">
    <mat-toolbar color="primary" >
        <div fxFlexOffset="5" fxFlexOffset.gt-sm="15" fxFlex='95' fxFlex.gt-sm='70'>

            <a mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted">
                <span class="mat-button-wrapper h5">GS Nirmal Dhara</span>
                <span matripple class="mat-ripple mat-button-ripple "></span>
                <span class="mat-button-focus"></span>
            </a>

            <span class="float-right">
                <a routerLink="/home" mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted">
                    <span class="mat-button-wrapper "> Home</span>
                    <span matripple class="mat-ripple mat-button-ripple "></span>
                    <span class="mat-button-focus"></span>
                </a>
                <a routerLink="/aboutus" mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted">
                    <span class="mat-button-wrapper "> About Us</span>
                    <span matripple class="mat-ripple mat-button-ripple "></span>
                    <span class="mat-button-focus"></span>
                </a>
                <a routerLink="/contactus" mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted">
                    <span class="mat-button-wrapper "> Contact Us</span>
                    <span matripple class="mat-ripple mat-button-ripple "></span>
                    <span class="mat-button-focus"></span>
                </a>
                <!-- <a mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted">
                    <span class="mat-button-wrapper "></span>
                    <span matripple class="mat-ripple mat-button-ripple "></span>
                    <span class="mat-button-focus"></span>
                </a> -->

            </span>

        </div>
    </mat-toolbar>

</div>