<mat-card mat-elevation-z8 class="m-4">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="60">
            <h2 class="text-center" style="font-size: 40px;">About Us</h2>
            <p style="line-height: 30px;" [ngClass.gt-sm]="['pl-5']" class=" pt-1">
                When it comes to the science of pumping, Gs Nirmal Dhara pumps present smart, sturdy and sustainable
                pumping solutions with over 4 years of unmatchable experience and expertise for applications in
                Industries across the spectrum.

                We provide pumping solutions from more than 20 different models of pumps which can be customised in raw
                materials or design based on the field application.

                We are a vertically integrated manufacturing company where starting from Design and Engineering of
                products to assembly, testing and final finishing and packaging is done within our manufacturing
                facilities.

                This helps us in providing our customers with Top Quality; Competitively Priced Products delivered On
                Time to the customers.

                We are committed to the Green Energy movement by continuously working towards making our products more
                Energy Efficient.

                We are also offering a wide range of Alternative Energy Sustainable Pumping Products like Solar
                Submersible and Monoblock Pumps. Due to our large volume of products, we have a large range of products
                which are ISI certified for safety.

                We are committed to After Sales Service and understand that After Sales Service is the most important
                part of our business model. In view of this we have a Customer Care Number: 8448328646, where customers
                can register service requests. These service requests are promptly addressed personally to close the
                service request as soon as possible.

                Our aim is to provide a Comprehensive Pumping Solution to the customer with Quality Products which are
                Priced Competitively, delivered On Time and have the Lowest Life Cycle cost, supported by impeccable
                After Sales Service.

                This Product Is Fully <span class="font-weight-bold" style="color: brown;">MADE IN INDIA</span>.
            </p>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40">
            <img style="width: 100%;" src="/assets/image/aboutus.png">
        </div>
    </div>

</mat-card>