<mat-card mat-elevation-z8 class="m-4">
    <div>
        <!-- <h2 style="font-size: 40px" class="m-1 text-center">
            Contact Us
        </h2> -->
        <div fxLayout="row wrap">
            <div fxFlex="10" fxFlex.gt-sm="10">

            </div>
            <span fxFlex="40" fxFlex.gt-sm="40">
                <img class="m-5" style="width: 70%;" src="assets/image/contactuslogo.png" alt="">
            </span>

            <span fxFlex="40" fxFlex.gt-sm="40">
                <div class="m-5">
                    <h2 class="text-center" style="font-size: 30px;">
                        Contact Us
                        <!-- <img src="" alt=""> -->
                    </h2>
                    <form class="form">

                        <div>
                            <mat-form-field style="width: 100%;">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width" style="width: 100%;">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width" style="width: 100%;">
                                <mat-label>Your Question</mat-label>
                                <textarea matInput placeholder="Question"></textarea>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width" style="width: 100%;">
                                <mat-label>Email Id</mat-label>
                                <input matInput placeholder="Email Id">
                            </mat-form-field>
                        </div>
                        <button class="btn btn-primary justify-center">
                            Submit
                        </button>

                    </form>
                </div>
            </span>

            <span fxFlex="10" fxFlex.gt-sm="10">
                <!-- <div class="social_media">
                    <span style="font-size: 48px;color: blue;" class="material-icons">
                        facebook
                    </span>
                    <span style="font-size: 48px;color: blue;" class="material-icons">
                        facebook
                    </span>
                </div> -->
            </span>
        </div>

    </div>
</mat-card>