<mat-card mat-elevation-z8 class="m-4">
    <div>
        <!-- <h2 style="font-size: 40px" class="m-1 text-center">
            Contact Us
        </h2> -->
        <div fxLayout="row wrap">
            <span fxFlex="50" fxFlex.gt-sm="50">
                <img class="m-5" style="width: 80%;" src="assets/image/contactuslogo.png" alt="">
            </span>

            <span fxFlex="50" fxFlex.gt-sm="50">
                <div>
                    <form>
                        <div>
                            <mat-form-field>
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width">
                                <mat-label>Your Question</mat-label>
                                <textarea matInput placeholder="Question"></textarea>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field class="full-width">
                                <mat-label>Email Id</mat-label>
                                <input matInput placeholder="Email Id">
                            </mat-form-field>
                        </div>

                    </form>
                </div>
            </span>
        </div>

    </div>
</mat-card>