<mat-card >
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="40">
            <img mat-card-image style="height: 100%;" src="{{data.image}}" alt="Monoo">
        </div>
        <div fxFlexOffset="5" fxFlex="90" fxFlexOffset.gt-sm="5" fxFlex.gt-sm="55" >
            <div>
                <h2>
                    Monoblock Motors
                </h2>
                <p>
                    The pumps which are used in areas like rural, urban, and industrial are called a monoblock pump. These pumps are extensively used from domestic to civil as well as used in industrial applications which include irrigation, agriculture, water supply for building, civil schemes, and water supply for the public, de-watering of mines & for numerous other industrial applications. These pumps are very famous due to their outstanding features like very simple to use, extremely fast, and scalable. This article discusses an overview of monoblock pumps.    

                </p>
                <h4>
                    Price: <span  class="font-weight-bold">{{data.price}}</span>
                </h4>
            </div>
    <button mat-dialog-close mat-raised-button>Close</button>

        </div>

    </div>
</mat-card>