<mat-card >
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="40">
            <img mat-card-image style="height: 100%;" src="{{data.image}}" alt="Monoo">
        </div>
        <div fxFlexOffset="5" fxFlex="90" fxFlexOffset.gt-sm="5" fxFlex.gt-sm="55" >
            <div>
                <h2>
                    Monoblock Motors
                </h2>
                <p>
                    Head: {{data.head}} <br>
                    Discharge: {{data.discharge}} <br>
                    Power Rating: {{data.power_rating}} <br>
                    Power Supply: {{data.power_suply}} <br>
                    Applications: {{data.application}}
                                </p>
                
            </div>
    <button mat-dialog-close mat-raised-button>Close</button>

        </div>

    </div>
</mat-card>