<app-header></app-header>
<router-outlet>
</router-outlet>

<!-- <div color="primary" style="background-color: #3F51B5;" class="mt-4">
    <div fxLayout="row wrap" class="text-white">
        <span fxFlex="40" style="font-weight: 300;" class="text-center p-2 py-3 h5 m-0"> Get connected with us on social
            networks! </span>
        <span fxFlex="40"> </span>
        <span fxFlex="20" class="text-center p-2 py-3 h5 m-0">
            <span>
                <mat-icon>facebook</mat-icon> &nbsp; &nbsp;
            </span>
        </span>

    </div>
</div> -->

<div style="background-color:#1c2331;">
    <div class="container text-white">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="33" class="p-4">
                <h3> Contact </h3>
                <p fxLayout="row wrap">
                    <span fxFlex="20">
                        <mat-icon>call</mat-icon> &nbsp; &nbsp;
                    </span>
                    <span fxFlex="80" class="fotter-text">
                        9555292042
                    </span>
                </p>
                <p>
                    <span fxFlex="20">
                        <mat-icon>email</mat-icon> &nbsp; &nbsp;
                    </span>
                    <span fxFlex="80" class="fotter-text">
                        18r1999@gmail.com
                    </span>
                </p>
                <p>
                    <span fxFlex="20">
                        <mat-icon>home</mat-icon> &nbsp; &nbsp;
                    </span>
                    <span fxFlex="80" class="fotter-text">
                        Guru kirpa Industries <br> Plot no. 68 , rajeev colony Sec-56,
                        near Fogat School
                    </span>
                </p>
                <!-- <div class="col-lg-6 text-lg-center btn-wrapper">
                    <a target="_blank" href="https://twitter.com/creativetim"
                        class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/creativetim"
                        class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="https://dribbble.com/creativetim"
                        class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    <a target="_blank" href="https://github.com/creativetimofficial"
                        class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
                        <i class="fa fa-github"></i>
                    </a>
                </div> -->
            </div>
            <!-- <div fxFlex="100" fxFlex.gt-sm="25">
                <h3>
                    Address
                </h3>
                <p class="fotter-text">Plot no. 68 , rajeev colony Sec-56, <br> near Fogat School </p>

            </div> -->
            <div fxFlex="100" fxFlex.gt-sm="33" class="p-4">
                <h3> Customer Care </h3>
                <p class="float-left fotter-text">If you have any issue with Submersible Pump you can contact us in any
                    of the
                    following ways
                    <br> call: 8448328646

                </p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33" class="p-4">
                <h3> GsNirmalDhara </h3>
                <p class="fotter-text">Disclamer: The product color and shades displayed on this website are only
                    indicative and cannot be
                    considered to be a precise representation of actual color</p>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #161c27; height: 30px;" class="text-center text-muted justify-content-center ">
    <small>Copyright</small>
</div>