<mat-card mat-elevation-z8 class="m-4">

    <p class="text-center h2">Our Products</p>
    <div fxLayout="row wrap" *ngFor="let product of products" class="container">
        <div fxFlex="70" fxFlexOffset="15" fxFlexOffset.gt-sm="0" fxFlex.gt-sm="20">
            <span style="max-height: 100px;max-width: 100px;">
                <img style="width:100%" [src]="product.image" alt="monoblock">
            </span>
        </div>
        <div fxFlex="100" fxFlexOffset="10" fxFlex.gt-sm="70" class="p-4">
            <div fxLayout="row wrap">
                <span fxFlex="100" fxFlex.gt-sm="50">
                    <strong>Head</strong> : {{product.head}} <br>
                    <br>
                    <strong>Discharge</strong> : {{product.discharge}} <br><br>
                </span>
                <span fxFlex="100" fxFlex.gt-sm="50">
                    <strong>Power Rating</strong> : {{product.power_rating}} <br><br>
                    <strong>Power Suply</strong> : {{product.power_suply}} <br>
                    <br>
                </span>
                <span fxFlex="100" fxFlex.gt-sm="100">
                    {{product.application}} <br><br>
                </span>
            </div>



        </div>
        <mat-divider> </mat-divider>
    </div>


</mat-card>