<mat-card [ngClass.gt-sm]="['m-4']" [ngClass.xs]="['m-2']">

    <div fxLayout="row wrap">
        <span fxFlex="100" fxFlex.gt-sm="50" [ngClass.gt-sm]="['p-5']">
            <div [ngClass.gt-sm]="['term-and-condition',' container']" class="">
                <h1 style="line-height: initial;">
                    Terms And Condition
                </h1>
                <div class="mx-auto" style="line-height: 30px;">
                    1. The above prices are exclusive of any taxes.<br>
                    2. Special Packing & Transportation charges will be extra.<br>
                    3. Above price are without control panel.<br>
                    4. Above price are subject to change without any prior notice.<br>
                    5. All disputes are subject to Delhi Faridabad
                </div>

            </div>
        </span>

        <span fxFlex.gt-sm="50" [ngStyle.md]="{'display': 'block'}">
            <img [ngStyle.gt-sm]="{'width': 'auto' , 'height.px':500}"
                [ngStyle.xs]="{'width.px':300 , 'height' : 'auto'}" src="assets/image/termandcondition.png" alt="">
        </span>
    </div>

</mat-card>