<mat-card class="m-4">

    <div fxLayout="row wrap">
        <span fxFlex="100" fxFlex.gt-sm="50">
            <div class="term-and-condition container">
                <h1>
                    Terms And Condition
                </h1>
                <div style="margin-top: 40px;line-height: 30px;">
                    1. The above prices are exclusive of any taxes.<br>
                    2. Special Packing & Transportation charges will be extra.<br>
                    3. Above price are without control panel.<br>
                    4. Above price are subject to change without any prior notice.<br>
                    5. All disputes are subject to Delhi Faridabad
                </div>

            </div>
        </span>

        <span fxFlex.gt-sm="50">
            <img style="width: auto;height: 500px;" src="assets/image/termandcondition.png" alt="">
        </span>
    </div>

</mat-card>